public/CPQWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : Apttus_CPQApi.CPQWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQWebService" xmlns:AbandonCartResponseDO="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQ" xmlns:SearchFilter="http://soap.sforce.com/schemas/class/Apttus_CPQApi/Criteria" xmlns:FeatureInfo="http://soap.sforce.com/schemas/class/Apttus_CPQApi/FeatureSupport" xmlns:IncentiveAutoApplyRule="http://soap.sforce.com/schemas/class/Apttus_Config2/CustomClass" xmlns:Property="http://soap.sforce.com/schemas/class/Apttus_Config2/Property">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQ">
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/Criteria"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_Config2/CustomClass"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/FeatureSupport"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_Config2/Property"/>

   <xsd:complexType name="UpdatePriceRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdatePriceResponseDO">
    <xsd:sequence>
     <xsd:element name="CompletedLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
     <xsd:element name="IsPricePending" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="PendingLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateQuoteTermRequestDO">
    <xsd:sequence>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="LineItemColl" minOccurs="0" type="AbandonCartResponseDO:LineItemCollDO" nillable="true"/>
     <xsd:element name="QuoteId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="QuoteLineItemColl" minOccurs="0" type="AbandonCartResponseDO:QuoteLineItemCollDO" nillable="true"/>
     <xsd:element name="ReCalcSellingTerm" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateQuoteTermResponseDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/Criteria">
   <xsd:complexType name="SearchFilter">
    <xsd:sequence/>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/FeatureSupport">
   <xsd:complexType name="FeatureInfo">
    <xsd:sequence>
     <xsd:element name="ProductFeatureSet" minOccurs="0" type="FeatureInfo:FeatureSet" nillable="true"/>
     <xsd:element name="ProductFeatureSOId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_Config2/CustomClass">
   <xsd:simpleType name="IncentiveAutoApplyRule">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="DISABLE"/>
     <xsd:enumeration value="ENABLE"/>
     <xsd:enumeration value="RESTRICT"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_Config2/Property">
   <xsd:complexType name="Property">
    <xsd:sequence/>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQWebService">
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQ"/>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="QueryResult">
    <xsd:sequence>
     <xsd:element name="done" type="xsd:boolean"/>
     <xsd:element name="queryLocator" type="xsd:string" nillable="true"/>
     <xsd:element name="records" minOccurs="0" maxOccurs="unbounded" type="tns:sObject" nillable="true"/>
     <xsd:element name="size" type="xsd:int"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="sObject">
    <xsd:sequence>
     <xsd:element name="fieldsToNull" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="Id" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   
 <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="updatePriceForCart">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request" type="AbandonCartResponseDO:UpdatePriceRequestDO" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updatePriceForCartResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="AbandonCartResponseDO:UpdatePriceResponseDO" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="updatePriceForCartRequest">
  <part element="tns:updatePriceForCart" name="parameters"/>
 </message>
 <message name="updatePriceForCartResponse">
  <part element="tns:updatePriceForCartResponse" name="parameters"/>
 </message>
 <portType name="CPQWebServicePortType">
  <operation name="updatePriceForCart">
   <input message="tns:updatePriceForCartRequest"/>
   <output message="tns:updatePriceForCartResponse"/>
  </operation>
 </portType>
 <binding name="CPQWebServiceBinding" type="tns:CPQWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="updatePriceForCart">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="CPQWebServiceService">
  <documentation></documentation>
  <port binding="tns:CPQWebServiceBinding" name="CPQWebService">
   <soap:address location="https://box--cpqdata.cs69.my.salesforce.com/services/Soap/class/Apttus_CPQApi/CPQWebService"/>
  </port>
 </service>
</definitions>