app/CPQWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : Apttus_CPQApi.CPQWebService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQWebService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQWebService" xmlns:AbandonCartResponseDO="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQ" xmlns:SearchFilter="http://soap.sforce.com/schemas/class/Apttus_CPQApi/Criteria" xmlns:FeatureInfo="http://soap.sforce.com/schemas/class/Apttus_CPQApi/FeatureSupport" xmlns:IncentiveAutoApplyRule="http://soap.sforce.com/schemas/class/Apttus_Config2/CustomClass" xmlns:Property="http://soap.sforce.com/schemas/class/Apttus_Config2/Property">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/CPQ">
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/Criteria"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_Config2/CustomClass"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_CPQApi/FeatureSupport"/>
   <xsd:import namespace="http://soap.sforce.com/schemas/class/Apttus_Config2/Property"/>
   <xsd:complexType name="AbandonCartRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AbandonCartResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddBundleRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="SelectedBundle" minOccurs="0" type="AbandonCartResponseDO:SelectedBundleDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddBundleResponseDO">
    <xsd:sequence>
     <xsd:element name="LineNumber" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddCustomBundleRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="LineItemColl" minOccurs="0" type="AbandonCartResponseDO:LineItemCollDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddCustomBundleResponseDO">
    <xsd:sequence>
     <xsd:element name="LineNumber" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddMiscItemRequestDO">
    <xsd:sequence>
     <xsd:element name="AllocateGroupAdjustment" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="AllowRemoval" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Amount" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ChargeType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Description" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddMiscItemResponseDO">
    <xsd:sequence>
     <xsd:element name="MiscItem" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddMultiProductRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="SelectedProducts" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:SelectedProductDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddMultiProductResponseDO">
    <xsd:sequence>
     <xsd:element name="LineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddOptionsResponseDO">
    <xsd:sequence>
     <xsd:element name="addedOptionLineItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdjustLoyaltyPointsRequestDO">
    <xsd:sequence>
     <xsd:element name="AdjustmentItemSO" minOccurs="0" type="tns:Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c" nillable="true"/>
     <xsd:element name="EnrollmentId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdjustLoyaltyPointsResponseDO">
    <xsd:sequence>
     <xsd:element name="AccrualSummary" minOccurs="0" type="tns:Apttus_Config2__LoyaltyPointAccrualSummary__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AppliedActionDO">
    <xsd:sequence>
     <xsd:element name="ActionIntent" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ActionType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AffectedPrimaryNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
     <xsd:element name="AffectedProductIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
     <xsd:element name="AppliedActionId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="AppliedRuleInfoId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ConstraintRuleActionId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="CriteriaFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="IsAutoExecuted" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsHideMessage" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsIgnoredByUser" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsPending" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsShowPrompt" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsTargetOptionProduct" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsTargetPrimaryProduct" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="MatchCountRule" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Message" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MessageType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SuggestedProductIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
     <xsd:element name="TargetBundleNumber" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="TriggeringPrimaryNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
     <xsd:element name="TriggeringProductIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ApplyIncentivesRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="IncentiveCodes" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="LineItemColl" minOccurs="0" type="AbandonCartResponseDO:LineItemCollDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ApplyIncentivesResponseDO">
    <xsd:sequence>
     <xsd:element name="AppliedIncentiveCodes" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ApplyRebatesRequestDO">
    <xsd:sequence>
     <xsd:element name="AutoApplyRule" minOccurs="0" type="IncentiveAutoApplyRule:IncentiveAutoApplyRule" nillable="true"/>
     <xsd:element name="IncentiveCodes" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="OrderId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ApplyRebatesResponseDO">
    <xsd:sequence>
     <xsd:element name="HasPocketAdjustments" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="PocketAdjustments" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:PocketAdjustmentCollDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AssetActionDO">
    <xsd:sequence>
     <xsd:element name="AdjustmentAmount" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="AdjustmentType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AssetAction" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AssetLineItemId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Comments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CustomData" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
     <xsd:element name="CustomFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="CustomUpgradeCancelledFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Message" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Pending" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Quantity" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AssetSearchResultDO">
    <xsd:sequence>
     <xsd:element name="AssetItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__AssetLineItem__c" nillable="true"/>
     <xsd:element name="HasAssetItems" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BulkInitiateLoyaltyCycleRequestDO">
    <xsd:sequence>
     <xsd:element name="BatchSize" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="EnrollmentIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BulkInitiateLoyaltyCycleResponseDO">
    <xsd:sequence>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CategoryDO">
    <xsd:sequence>
     <xsd:element name="CategoryId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ChildCategories" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:CategoryDO" nillable="true"/>
     <xsd:element name="HasChildCategories" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ParentCategoryId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ProductCount" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CategorySearchResultDO">
    <xsd:sequence>
     <xsd:element name="Categories" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:CategoryDO" nillable="true"/>
     <xsd:element name="HasCategories" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CloneLineItemsRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="PrimaryLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CloneLineItemsResponseDO">
    <xsd:sequence>
     <xsd:element name="OriginalToCloneMap" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:IntegerMapDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeLoyaltyPointsRequestDO">
    <xsd:sequence>
     <xsd:element name="EnrollmentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="OrderBatchSize" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="OrderId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeLoyaltyPointsResponseDO">
    <xsd:sequence>
     <xsd:element name="AccrualSummaries" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__LoyaltyPointAccrualSummary__c" nillable="true"/>
     <xsd:element name="IsAsync" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeNetPriceRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="LineNumber" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeNetPriceResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeShippingRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeShippingResponseDO">
    <xsd:sequence>
     <xsd:element name="TotalShippingItem" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeTaxRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputeTaxResponseDO">
    <xsd:sequence>
     <xsd:element name="TotalTaxItem" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConstraintResultDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ConstraintRuleActions" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:AppliedActionDO" nillable="true"/>
     <xsd:element name="HasPendingError" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="HasPendingWarning" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="NeedMoreProcessing" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateCartRequestDO">
    <xsd:sequence>
     <xsd:element name="Properties" minOccurs="0" maxOccurs="unbounded" type="Property:Property" nillable="true"/>
     <xsd:element name="QuoteId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateCartResponseDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateCriteriaRequestDO">
    <xsd:sequence>
     <xsd:element name="CriteriaSpec" minOccurs="0" type="SearchFilter:SearchFilter" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateCriteriaResponseDO">
    <xsd:sequence>
     <xsd:element name="CriteriaFieldNames" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CriteriaJSON" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateDocumentForQuoteRequestDO">
    <xsd:sequence>
     <xsd:element name="QuoteId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="QuoteOptions" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:QuoteOptionDO" nillable="true"/>
     <xsd:element name="ServerUrl" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SessionId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="TemplateName" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateDocumentForQuoteResponseDO">
    <xsd:sequence>
     <xsd:element name="DocumentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="DocumentName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MIMEType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="RelativeUrlToDocument" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SizeInBytes" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateOrderForPORequestDO">
    <xsd:sequence>
     <xsd:element name="OrderInput" minOccurs="0" type="tns:Apttus_Config2__Order__c" nillable="true"/>
     <xsd:element name="OrderItems" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:SelectedPOItemDO" nillable="true"/>
     <xsd:element name="Properties" minOccurs="0" maxOccurs="unbounded" type="Property:Property" nillable="true"/>
     <xsd:element name="PurchaseOrderId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="SplitGroupFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateOrderForPOResponseDO">
    <xsd:sequence>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="OrderId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateOrderRequestDO">
    <xsd:sequence>
     <xsd:element name="OrderInput" minOccurs="0" type="tns:Apttus_Config2__Order__c" nillable="true"/>
     <xsd:element name="OrderItems" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:SelectedProductDO" nillable="true"/>
     <xsd:element name="OrderItemSource" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Properties" minOccurs="0" maxOccurs="unbounded" type="Property:Property" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreateOrderResponseDO">
    <xsd:sequence>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="OrderId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FeatureInfoRequestDO">
    <xsd:sequence>
     <xsd:element name="ProductIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FeatureInfoResponseDO">
    <xsd:sequence>
     <xsd:element name="FeatureInfos" minOccurs="0" maxOccurs="unbounded" type="FeatureInfo:FeatureInfo" nillable="true"/>
     <xsd:element name="ProductId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinalizeCartRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinalizeCartResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetIncentivesForCartRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetIncentivesForCartResponseDO">
    <xsd:sequence>
     <xsd:element name="Incentives" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__Incentive__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetLoyaltyLevelRequestDO">
    <xsd:sequence>
     <xsd:element name="LoyaltyId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Points" minOccurs="0" type="xsd:double" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetLoyaltyLevelResponseDO">
    <xsd:sequence>
     <xsd:element name="Level" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetPriceBreakupRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="LineItemId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetPriceBreakupResponseDO">
    <xsd:sequence>
     <xsd:element name="HasPriceBreakups" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="PriceBreakups" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:PriceBreakupCollDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetTotalAdjustedLoyaltyPointsRequestDO">
    <xsd:sequence>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="EnrollmentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetTotalAdjustedLoyaltyPointsResponseDO">
    <xsd:sequence>
     <xsd:element name="Points" minOccurs="0" type="xsd:double" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InitiateLoyaltyCycleRequestDO">
    <xsd:sequence>
     <xsd:element name="EnrollmentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="OrderBatchSize" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InitiateLoyaltyCycleResponseDO">
    <xsd:sequence>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntegerMapDO">
    <xsd:sequence>
     <xsd:element name="Key" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Value" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LineItemCollDO">
    <xsd:sequence>
     <xsd:element name="LineItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MergeCriteriaRequestDO">
    <xsd:sequence>
     <xsd:element name="CriteriaExpr" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CriteriaSpecs" minOccurs="0" maxOccurs="unbounded" type="SearchFilter:SearchFilter" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MergeCriteriaResponseDO">
    <xsd:sequence>
     <xsd:element name="CriteriaFieldNames" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CriteriaJSON" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ModifyAssetRequestDO">
    <xsd:sequence>
     <xsd:element name="AssetActions" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:AssetActionDO" nillable="true"/>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ModifyAssetResponseDO">
    <xsd:sequence>
     <xsd:element name="AssetActions" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:AssetActionDO" nillable="true"/>
     <xsd:element name="LineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PocketAdjustmentCollDO">
    <xsd:sequence>
     <xsd:element name="LineItemId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="PocketAdjItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__OrderPocketAdjustmentLineItem__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PriceBreakupCollDO">
    <xsd:sequence>
     <xsd:element name="BreakupItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Config2__PriceBreakup__c" nillable="true"/>
     <xsd:element name="LineItemId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PriceDO">
    <xsd:sequence>
     <xsd:element name="ChargeType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PriceItem" minOccurs="0" type="tns:Apttus_Config2__PriceListItem__c" nillable="true"/>
     <xsd:element name="Value" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProcessLoyaltyCycleRequestDO">
    <xsd:sequence>
     <xsd:element name="LoyaltyIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProcessLoyaltyCycleResponseDO">
    <xsd:sequence>
     <xsd:element name="JobId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductDO">
    <xsd:sequence>
     <xsd:element name="ContentUrl" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Description" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="HasPrices" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="HasProperties" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="ImageUrl" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Prices" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:PriceDO" nillable="true"/>
     <xsd:element name="ProductCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ProductId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Properties" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:PropertyDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductOptionComponentDO">
    <xsd:sequence>
     <xsd:element name="ComponentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ComponentProductId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Description" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="HasPrices" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="ImageUrl" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="IsDefault" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsRequired" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Prices" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:PriceDO" nillable="true"/>
     <xsd:element name="ProductCode" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductOptionGroupDO">
    <xsd:sequence>
     <xsd:element name="ChildOptionGroups" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:ProductOptionGroupDO" nillable="true"/>
     <xsd:element name="HasChildOptionGroups" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="HasOptionComponents" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Label" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MaxOptions" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="MinOptions" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OptionComponents" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:ProductOptionComponentDO" nillable="true"/>
     <xsd:element name="ParentOptionGroupId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ProductOptionGroupId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductOptionGroupSearchResultDO">
    <xsd:sequence>
     <xsd:element name="HasOptionGroups" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="OptionGroups" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:ProductOptionGroupDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductSearchResultDO">
    <xsd:sequence>
     <xsd:element name="HasProducts" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Products" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:ProductDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PropertyDO">
    <xsd:sequence>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Value" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="QuoteLineItemCollDO">
    <xsd:sequence>
     <xsd:element name="LineItems" minOccurs="0" maxOccurs="unbounded" type="tns:Apttus_Proposal__Proposal_Line_Item__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="QuoteOptionDO">
    <xsd:sequence>
     <xsd:element name="Label" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Value" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RegisterLoyaltyMemberRequestDO">
    <xsd:sequence>
     <xsd:element name="CustomData" minOccurs="0" maxOccurs="unbounded" type="Property:Property" nillable="true"/>
     <xsd:element name="CustomerType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="EligibilityStartDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="IncentiveId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="MemberId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="MemberIdOrName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PointAccrualLevel" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="TermsAccepted" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RegisterLoyaltyMemberResponseDO">
    <xsd:sequence>
     <xsd:element name="LoyaltyEnrollment" minOccurs="0" type="tns:Apttus_Config2__IncentiveLoyaltyEnrollment__c" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveBundleRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="LineNumber" minOccurs="0" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveBundleResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveLineItemsRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="PrimaryLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveLineItemsResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveMultiBundlesRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="LineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:decimal" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveMultiBundlesResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemoveOptionsResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="RemovedIds" minOccurs="0" maxOccurs="unbounded" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SelectedBundleDO">
    <xsd:sequence>
     <xsd:element name="SelectedOptions" minOccurs="0" maxOccurs="unbounded" type="AbandonCartResponseDO:SelectedOptionDO" nillable="true"/>
     <xsd:element name="SelectedProduct" minOccurs="0" type="AbandonCartResponseDO:SelectedProductDO" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SelectedOptionDO">
    <xsd:sequence>
     <xsd:element name="Comments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ComponentId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ComponentProductId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="CustomData" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
     <xsd:element name="CustomFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="Quantity" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SelectedPOItemDO">
    <xsd:sequence>
     <xsd:element name="Comments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CopyBundleConfigurationFromSource" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="CustomData" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
     <xsd:element name="CustomFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="POItemId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="ProductId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Quantity" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SourceFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SelectedProductDO">
    <xsd:sequence>
     <xsd:element name="Comments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CopyBundleConfigurationFromSource" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="CustomData" minOccurs="0" type="tns:Apttus_Config2__LineItem__c" nillable="true"/>
     <xsd:element name="CustomFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="ProductId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="Quantity" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="SourceFields" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
     <xsd:element name="SourceId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SynchronizeCartRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SynchronizeCartResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UnRegisterLoyaltyMemberRequestDO">
    <xsd:sequence>
     <xsd:element name="IncentiveId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="MemberId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="MemberIdOrName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PointAccrualLevel" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UnRegisterLoyaltyMemberResponseDO">
    <xsd:sequence>
     <xsd:element name="IsSuccess" minOccurs="0" type="xsd:boolean" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdatePriceRequestDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdatePriceResponseDO">
    <xsd:sequence>
     <xsd:element name="CompletedLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
     <xsd:element name="IsPricePending" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="PendingLineNumbers" minOccurs="0" maxOccurs="unbounded" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateQuoteTermRequestDO">
    <xsd:sequence>
     <xsd:element name="EndDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="LineItemColl" minOccurs="0" type="AbandonCartResponseDO:LineItemCollDO" nillable="true"/>
     <xsd:element name="QuoteId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="QuoteLineItemColl" minOccurs="0" type="AbandonCartResponseDO:QuoteLineItemCollDO" nillable="true"/>
     <xsd:element name="ReCalcSellingTerm" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="SellingTerm" minOccurs="0" type="xsd:decimal" nillable="true"/>
     <xsd:element name="StartDate" minOccurs="0" type="xsd:date" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateQuoteTermResponseDO">
    <xsd:sequence>
     <xsd:element name="CartId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </types>
   
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="abandonCartRequest">
  <part element="tns:abandonCart" name="parameters"/>
 </message>
 <message name="abandonCartResponse">
  <part element="tns:abandonCartResponse" name="parameters"/>
 </message>
 <message name="addBundleRequest">
  <part element="tns:addBundle" name="parameters"/>
 </message>
 <message name="addBundleResponse">
  <part element="tns:addBundleResponse" name="parameters"/>
 </message>
 <message name="addCustomBundleRequest">
  <part element="tns:addCustomBundle" name="parameters"/>
 </message>
 <message name="addCustomBundleResponse">
  <part element="tns:addCustomBundleResponse" name="parameters"/>
 </message>
 <message name="addMiscItemRequest">
  <part element="tns:addMiscItem" name="parameters"/>
 </message>
 <message name="addMiscItemResponse">
  <part element="tns:addMiscItemResponse" name="parameters"/>
 </message>
 <message name="addMultiProductsRequest">
  <part element="tns:addMultiProducts" name="parameters"/>
 </message>
 <message name="addMultiProductsResponse">
  <part element="tns:addMultiProductsResponse" name="parameters"/>
 </message>
 <message name="addOptionsRequest">
  <part element="tns:addOptions" name="parameters"/>
 </message>
 <message name="addOptionsResponse">
  <part element="tns:addOptionsResponse" name="parameters"/>
 </message>
 <message name="adjustLoyaltyPointsRequest">
  <part element="tns:adjustLoyaltyPoints" name="parameters"/>
 </message>
 <message name="adjustLoyaltyPointsResponse">
  <part element="tns:adjustLoyaltyPointsResponse" name="parameters"/>
 </message>
 <message name="applyConstraintRulesRequest">
  <part element="tns:applyConstraintRules" name="parameters"/>
 </message>
 <message name="applyConstraintRulesResponse">
  <part element="tns:applyConstraintRulesResponse" name="parameters"/>
 </message>
 <message name="applyConstraintRulesOnDeleteRequest">
  <part element="tns:applyConstraintRulesOnDelete" name="parameters"/>
 </message>
 <message name="applyConstraintRulesOnDeleteResponse">
  <part element="tns:applyConstraintRulesOnDeleteResponse" name="parameters"/>
 </message>
 <message name="applyIncentivesRequest">
  <part element="tns:applyIncentives" name="parameters"/>
 </message>
 <message name="applyIncentivesResponse">
  <part element="tns:applyIncentivesResponse" name="parameters"/>
 </message>
 <message name="applyRebatesRequest">
  <part element="tns:applyRebates" name="parameters"/>
 </message>
 <message name="applyRebatesResponse">
  <part element="tns:applyRebatesResponse" name="parameters"/>
 </message>
 <message name="associateConstraintRulesRequest">
  <part element="tns:associateConstraintRules" name="parameters"/>
 </message>
 <message name="associateConstraintRulesResponse">
  <part element="tns:associateConstraintRulesResponse" name="parameters"/>
 </message>
 <message name="bulkInitiateLoyaltyCycleRequest">
  <part element="tns:bulkInitiateLoyaltyCycle" name="parameters"/>
 </message>
 <message name="bulkInitiateLoyaltyCycleResponse">
  <part element="tns:bulkInitiateLoyaltyCycleResponse" name="parameters"/>
 </message>
 <message name="cloneBundleLineItemsRequest">
  <part element="tns:cloneBundleLineItems" name="parameters"/>
 </message>
 <message name="cloneBundleLineItemsResponse">
  <part element="tns:cloneBundleLineItemsResponse" name="parameters"/>
 </message>
 <message name="cloneLineItemsRequest">
  <part element="tns:cloneLineItems" name="parameters"/>
 </message>
 <message name="cloneLineItemsResponse">
  <part element="tns:cloneLineItemsResponse" name="parameters"/>
 </message>
 <message name="cloneOptionLineItemsRequest">
  <part element="tns:cloneOptionLineItems" name="parameters"/>
 </message>
 <message name="cloneOptionLineItemsResponse">
  <part element="tns:cloneOptionLineItemsResponse" name="parameters"/>
 </message>
 <message name="compareProductsRequest">
  <part element="tns:compareProducts" name="parameters"/>
 </message>
 <message name="compareProductsResponse">
  <part element="tns:compareProductsResponse" name="parameters"/>
 </message>
 <message name="computeLoyaltyPointsForOrderRequest">
  <part element="tns:computeLoyaltyPointsForOrder" name="parameters"/>
 </message>
 <message name="computeLoyaltyPointsForOrderResponse">
  <part element="tns:computeLoyaltyPointsForOrderResponse" name="parameters"/>
 </message>
 <message name="computeNetPriceForBundleRequest">
  <part element="tns:computeNetPriceForBundle" name="parameters"/>
 </message>
 <message name="computeNetPriceForBundleResponse">
  <part element="tns:computeNetPriceForBundleResponse" name="parameters"/>
 </message>
 <message name="computeShippingForCartRequest">
  <part element="tns:computeShippingForCart" name="parameters"/>
 </message>
 <message name="computeShippingForCartResponse">
  <part element="tns:computeShippingForCartResponse" name="parameters"/>
 </message>
 <message name="computeTaxForCartRequest">
  <part element="tns:computeTaxForCart" name="parameters"/>
 </message>
 <message name="computeTaxForCartResponse">
  <part element="tns:computeTaxForCartResponse" name="parameters"/>
 </message>
 <message name="createCartRequest">
  <part element="tns:createCart" name="parameters"/>
 </message>
 <message name="createCartResponse">
  <part element="tns:createCartResponse" name="parameters"/>
 </message>
 <message name="createCriteriaRequest">
  <part element="tns:createCriteria" name="parameters"/>
 </message>
 <message name="createCriteriaResponse">
  <part element="tns:createCriteriaResponse" name="parameters"/>
 </message>
 <message name="createDocumentForQuoteRequest">
  <part element="tns:createDocumentForQuote" name="parameters"/>
 </message>
 <message name="createDocumentForQuoteResponse">
  <part element="tns:createDocumentForQuoteResponse" name="parameters"/>
 </message>
 <message name="createOrderRequest">
  <part element="tns:createOrder" name="parameters"/>
 </message>
 <message name="createOrderResponse">
  <part element="tns:createOrderResponse" name="parameters"/>
 </message>
 <message name="createOrderForPORequest">
  <part element="tns:createOrderForPO" name="parameters"/>
 </message>
 <message name="createOrderForPOResponse">
  <part element="tns:createOrderForPOResponse" name="parameters"/>
 </message>
 <message name="finalizeCartRequest">
  <part element="tns:finalizeCart" name="parameters"/>
 </message>
 <message name="finalizeCartResponse">
  <part element="tns:finalizeCartResponse" name="parameters"/>
 </message>
 <message name="getAssetsForSearchTextRequest">
  <part element="tns:getAssetsForSearchText" name="parameters"/>
 </message>
 <message name="getAssetsForSearchTextResponse">
  <part element="tns:getAssetsForSearchTextResponse" name="parameters"/>
 </message>
 <message name="getAssetsWithTextRequest">
  <part element="tns:getAssetsWithText" name="parameters"/>
 </message>
 <message name="getAssetsWithTextResponse">
  <part element="tns:getAssetsWithTextResponse" name="parameters"/>
 </message>
 <message name="getAutoIncludedProductIdsForCartRequest">
  <part element="tns:getAutoIncludedProductIdsForCart" name="parameters"/>
 </message>
 <message name="getAutoIncludedProductIdsForCartResponse">
  <part element="tns:getAutoIncludedProductIdsForCartResponse" name="parameters"/>
 </message>
 <message name="getCategoriesForPriceListRequest">
  <part element="tns:getCategoriesForPriceList" name="parameters"/>
 </message>
 <message name="getCategoriesForPriceListResponse">
  <part element="tns:getCategoriesForPriceListResponse" name="parameters"/>
 </message>
 <message name="getCategoriesForPriceListWithLevelInclusiveRequest">
  <part element="tns:getCategoriesForPriceListWithLevelInclusive" name="parameters"/>
 </message>
 <message name="getCategoriesForPriceListWithLevelInclusiveResponse">
  <part element="tns:getCategoriesForPriceListWithLevelInclusiveResponse" name="parameters"/>
 </message>
 <message name="getConstraintRuleResultRequest">
  <part element="tns:getConstraintRuleResult" name="parameters"/>
 </message>
 <message name="getConstraintRuleResultResponse">
  <part element="tns:getConstraintRuleResultResponse" name="parameters"/>
 </message>
 <message name="getIncentivesForCartRequest">
  <part element="tns:getIncentivesForCart" name="parameters"/>
 </message>
 <message name="getIncentivesForCartResponse">
  <part element="tns:getIncentivesForCartResponse" name="parameters"/>
 </message>
 <message name="getLoyaltyLevelRequest">
  <part element="tns:getLoyaltyLevel" name="parameters"/>
 </message>
 <message name="getLoyaltyLevelResponse">
  <part element="tns:getLoyaltyLevelResponse" name="parameters"/>
 </message>
 <message name="getOptionGroupsForPriceListProductRequest">
  <part element="tns:getOptionGroupsForPriceListProduct" name="parameters"/>
 </message>
 <message name="getOptionGroupsForPriceListProductResponse">
  <part element="tns:getOptionGroupsForPriceListProductResponse" name="parameters"/>
 </message>
 <message name="getPriceBreakupRequest">
  <part element="tns:getPriceBreakup" name="parameters"/>
 </message>
 <message name="getPriceBreakupResponse">
  <part element="tns:getPriceBreakupResponse" name="parameters"/>
 </message>
 <message name="getProductsForCategorySearchTextRequest">
  <part element="tns:getProductsForCategorySearchText" name="parameters"/>
 </message>
 <message name="getProductsForCategorySearchTextResponse">
  <part element="tns:getProductsForCategorySearchTextResponse" name="parameters"/>
 </message>
 <message name="getProductsForPriceListRequest">
  <part element="tns:getProductsForPriceList" name="parameters"/>
 </message>
 <message name="getProductsForPriceListResponse">
  <part element="tns:getProductsForPriceListResponse" name="parameters"/>
 </message>
 <message name="getProductsForPriceListCategoryRequest">
  <part element="tns:getProductsForPriceListCategory" name="parameters"/>
 </message>
 <message name="getProductsForPriceListCategoryResponse">
  <part element="tns:getProductsForPriceListCategoryResponse" name="parameters"/>
 </message>
 <message name="getProductsForSearchTextRequest">
  <part element="tns:getProductsForSearchText" name="parameters"/>
 </message>
 <message name="getProductsForSearchTextResponse">
  <part element="tns:getProductsForSearchTextResponse" name="parameters"/>
 </message>
 <message name="getProductsWithCategoryAndTextRequest">
  <part element="tns:getProductsWithCategoryAndText" name="parameters"/>
 </message>
 <message name="getProductsWithCategoryAndTextResponse">
  <part element="tns:getProductsWithCategoryAndTextResponse" name="parameters"/>
 </message>
 <message name="getProductsWithTextRequest">
  <part element="tns:getProductsWithText" name="parameters"/>
 </message>
 <message name="getProductsWithTextResponse">
  <part element="tns:getProductsWithTextResponse" name="parameters"/>
 </message>
 <message name="getTotalAdjustedLoyaltyPointsRequest">
  <part element="tns:getTotalAdjustedLoyaltyPoints" name="parameters"/>
 </message>
 <message name="getTotalAdjustedLoyaltyPointsResponse">
  <part element="tns:getTotalAdjustedLoyaltyPointsResponse" name="parameters"/>
 </message>
 <message name="initiateLoyaltyCycleRequest">
  <part element="tns:initiateLoyaltyCycle" name="parameters"/>
 </message>
 <message name="initiateLoyaltyCycleResponse">
  <part element="tns:initiateLoyaltyCycleResponse" name="parameters"/>
 </message>
 <message name="mergeCriteriaRequest">
  <part element="tns:mergeCriteria" name="parameters"/>
 </message>
 <message name="mergeCriteriaResponse">
  <part element="tns:mergeCriteriaResponse" name="parameters"/>
 </message>
 <message name="modifyAssetRequest">
  <part element="tns:modifyAsset" name="parameters"/>
 </message>
 <message name="modifyAssetResponse">
  <part element="tns:modifyAssetResponse" name="parameters"/>
 </message>
 <message name="processLoyaltyCycleRequest">
  <part element="tns:processLoyaltyCycle" name="parameters"/>
 </message>
 <message name="processLoyaltyCycleResponse">
  <part element="tns:processLoyaltyCycleResponse" name="parameters"/>
 </message>
 <message name="rebuildCategoryHierachiesRequest">
  <part element="tns:rebuildCategoryHierachies" name="parameters"/>
 </message>
 <message name="rebuildCategoryHierachiesResponse">
  <part element="tns:rebuildCategoryHierachiesResponse" name="parameters"/>
 </message>
 <message name="registerLoyaltyMemberRequest">
  <part element="tns:registerLoyaltyMember" name="parameters"/>
 </message>
 <message name="registerLoyaltyMemberResponse">
  <part element="tns:registerLoyaltyMemberResponse" name="parameters"/>
 </message>
 <message name="removeBundleRequest">
  <part element="tns:removeBundle" name="parameters"/>
 </message>
 <message name="removeBundleResponse">
  <part element="tns:removeBundleResponse" name="parameters"/>
 </message>
 <message name="removeLineItemsRequest">
  <part element="tns:removeLineItems" name="parameters"/>
 </message>
 <message name="removeLineItemsResponse">
  <part element="tns:removeLineItemsResponse" name="parameters"/>
 </message>
 <message name="removeMultiBundlesRequest">
  <part element="tns:removeMultiBundles" name="parameters"/>
 </message>
 <message name="removeMultiBundlesResponse">
  <part element="tns:removeMultiBundlesResponse" name="parameters"/>
 </message>
 <message name="removeOptionsRequest">
  <part element="tns:removeOptions" name="parameters"/>
 </message>
 <message name="removeOptionsResponse">
  <part element="tns:removeOptionsResponse" name="parameters"/>
 </message>
 <message name="synchronizeCartRequest">
  <part element="tns:synchronizeCart" name="parameters"/>
 </message>
 <message name="synchronizeCartResponse">
  <part element="tns:synchronizeCartResponse" name="parameters"/>
 </message>
 <message name="unregisterLoyaltyMemberRequest">
  <part element="tns:unregisterLoyaltyMember" name="parameters"/>
 </message>
 <message name="unregisterLoyaltyMemberResponse">
  <part element="tns:unregisterLoyaltyMemberResponse" name="parameters"/>
 </message>
 <message name="updatePriceForCartRequest">
  <part element="tns:updatePriceForCart" name="parameters"/>
 </message>
 <message name="updatePriceForCartResponse">
  <part element="tns:updatePriceForCartResponse" name="parameters"/>
 </message>
 <message name="updateQuoteTermRequest">
  <part element="tns:updateQuoteTerm" name="parameters"/>
 </message>
 <message name="updateQuoteTermResponse">
  <part element="tns:updateQuoteTermResponse" name="parameters"/>
 </message>


 
 <portType name="CPQWebServicePortType">
  <operation name="updatePriceForCart">
   <input message="tns:updatePriceForCartRequest"/>
   <output message="tns:updatePriceForCartResponse"/>
  </operation>
  </portType>

    <binding name="CPQWebServiceBinding" type="tns:CPQWebServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  
  <operation name="updatePriceForCart">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>  
  
   </binding>
 <service name="CPQWebServiceService">
  <documentation></documentation>
  <port binding="tns:CPQWebServiceBinding" name="CPQWebService">
   <soap:address location="https://cs69.salesforce.com/services/Soap/class/Apttus_CPQApi/CPQWebService"/>
  </port>
 </service>
</definitions>